<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>

AuthUserFile /var/www/.htpasswd
AuthType Basic
AuthName "Restricted"
Require valid-user
